<div class="spinner-main">
    <div class="spinner-grow text-primary" style="animation-duration: 1.7s;margin-right: -8px;"></div>
    <div class="spinner-grow text-success" style="animation-duration: 1.4s;margin-right: -8px;"></div>
    <div class="spinner-grow text-info" style="animation-duration: 1.2s;margin-right: -8px;"></div>
    <div class="spinner-grow text-warning" style="animation-duration: 1.4s;margin-right: -8px;"></div>
    <div class="spinner-grow text-danger" style="animation-duration: 1.7s;margin-right: -8px;"></div>
</div>