.search-flat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px 40px;
}

.flat-left-room {
    width: 74%;
    margin-right: 16px;
    display: flex;
    flex-direction: column
}

.flat-row-1,
.flat-row-2 {
    display: flex;
}

.mb-3 {
    padding-right: 8px;
    width: 50%;
}

.flat-right-room {
    width: 24%;
}

.left-room-left {
    width: 50%;
    padding: 0px 4px 0px 0px;
}

.left-room-right {
    width: 50%;
    padding: 0px 0px 0px 4px;
}

.card-room {
    width: 100%;
    margin-bottom: 24px;
}

.result-room {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0px 8px; */
}

.result-room-left {
    padding-right: 4px;
}

.result-room-right {
    padding-left: 4px;
}

.poster-size {
    width: 50px;
    height: 50px;
}

.movie-title-card-rm {
    min-height: calc(100vh - 75vh);
}

.suggestions-container,
.suggestions-container {
    padding: 14px 8px !important;
}

.form-label {
    font-size: calc(4px + 1vw);
    font-weight: 900;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
}

@media only screen and (max-width: 920px) {
    .search-flat {
        padding: 24px 16px;
    }

    .form-label {
        font-size: calc(4px + 2vw);
        font-weight: 900;
    }

    .flat-left-room {
        width: 100%;
        margin-right: 0px;
    }

    .flat-right-room {
        width: 100%;
    }


    /* ============================= */
    .movie-title-card {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .movie-poster {
        /* width: 38vh; */
        width: 100%;
        /* height: calc(100px + 100px); */
    }

    .movie-title-card-rm {
        min-height: calc(100vh - 20vh);
    }


}



/* =================================================== */
.movie-title-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.movie-poster {
    /* width: 38vh; */
    width: 100%;
    height: calc(100px + 100px);
}

.mat-card-title {
    font-size: calc(0px + 1rem);
    font-weight: 600;
}

.poster-rm {
    padding-right: 4px;
    width: 100%;
}

.content-rm {
    padding-left: 4px;
}

.section-div {
    margin-bottom: 16px;
}

.content-icon-img {
    width: 40px;
    height: 40px;
}

.movie-title-card {
    display: flex;
    justify-content: flex-start;
}


/* ====================== */
.ant-card-head,
.ant-card-head .ant-tabs-top-ba {
    background-color: #0d9489 !important;
    color: white !important;
}